body {
}

input {
    background-image: none !important;
}

nav ul {
    padding: 0;
}
nav ul li {
    list-style-type: none;
    border: 0.0625em solid #ebebeb;
}

nav ul li a {
    display: block;
    padding: 1em;
}

nav ul li a:hover {
    text-decoration: none;
    background-color: #ebebeb;
}

form input[disabled], select[disabled], input[disabled] {
    background: rgb(235, 235, 228);
    cursor: not-allowed !important;
}

form input[type=text], form input[type=password] {
    width: 100%;
}

label {
    margin-top: 0.5em;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td, th{
    padding: 1em;
}

th {
    background: #ebebeb;
}

input[type=submit], input[type=button] {
    margin: 0.5em 0;
    padding: 0.5em 1.5em;
}

.required-ast {
    color: red;
}

